<ion-view view-title="Pedido - Pesquisar">

    <ion-nav-bar class="bar-calm">
    </ion-nav-bar>

    <ion-content class="padding">

        <label class="item item-input">
            <span class="input-label">Date</span>
            <input type="date">
        </label>

        <br/>

        <button class="button button-stable" style="width: 100%">
            Pesquisar
        </button>

        <br/>

        <div class="list card">
            <div class="item item-divider">Dados do Pedido <b>2943</b></div>
            <div class="item item-body">
                <div>
                    <b>Data do Pedido:</b> 10/09/2016 <br/>
                    <b>Observação:</b> iouhieou eiuehy aioue yaioue aoiue haioue haioue haiouea oieua <br/>
                    <b>Cliente:</b> Subway <br/>
                    <b>Usuário de Cadastro:</b> Carlos Diego <br/>

                </div>
            </div>
        </div>

        <div class="list card">
            <div class="item item-divider">Produtos do Pedido <b>2943</b></div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>
                        <b>Produto:</b> Pao Bola 5g Assado com granola iuhiou hiou hoiu iou iouhiouio  <br/>
                        <b>Quantidade:</b> 50
                    </ion-item>
                    <ion-item>
                        <b>Produto:</b> Pao Bola 5g Assado com granola iuhiou hiou hoiu iou iouhiouio  <br/>
                        <b>Quantidade:</b> 50
                    </ion-item>
                    <ion-item>
                        <b>Produto:</b> Pao Bola 5g Assado com granola iuhiou hiou hoiu iou iouhiouio  <br/>
                        <b>Quantidade:</b> 50
                    </ion-item>
                    <ion-item>
                        <b>Produto:</b> Pao Bola 5g Assado com granola iuhiou hiou hoiu iou iouhiouio  <br/>
                        <b>Quantidade:</b> 50
                    </ion-item>

                </ion-list>
            </div>
        </div>



        <div style="heigth: 20px;">
            .:.   Speciale .:.
        </div>

    </ion-content>

</ion-view>

